@keyframes fadeInUp {
  from {
    opacity: 1;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.7s ease-out forwards;
}

.fade-in-up-delay {
  animation-delay: 0.3s;
}
