@import 'tailwindcss' prefix(tw);

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* Primary Colors */

  --color-primary-50: oklch(0.955 0.022 248.05);
  --color-primary-100: oklch(0.92 0.041 246.01);
  --color-primary-200: oklch(0.832 0.093 241.09);
  --color-primary-300: oklch(0.752 0.15 234.9);
  --color-primary-400: oklch(0.675 0.142 234.27);
  --color-primary-500: oklch(0.581 0.121 233.91);
  --color-primary-600: oklch(0.495 0.104 234.68);
  --color-primary-700: oklch(0.4 0.084 234.51);
  --color-primary-800: oklch(0.317 0.066 233.37);
  --color-primary-900: oklch(0.221 0.046 233.96);
  --color-primary-950: oklch(0.176 0.036 233.36);
  
  --color-secondary-50: #f1f1f1;
  --color-secondary-100: #e5e5e5;
  --color-secondary-200: #cccccc;
  --color-secondary-300: #b2b2b2;
  --color-secondary-400: #969696;
  --color-secondary-500: #7c7c7c;
  --color-secondary-600: #616161;
  --color-secondary-700: #494949;
  --color-secondary-800: #323232;
  --color-secondary-900: #1b1b1b;
  --color-secondary-950: #111111;
  /* Accent Color */
  --color-accent: #fe5202;

  /* Dark Gray Colors */
  --color-darkGray-100: #d3d4d9;
  --color-darkGray-200: #a8a9b3;
  --color-darkGray-300: #7c7e8c;
  --color-darkGray-400: #515366;
  --color-darkGray-500: #252840;
  --color-darkGray-600: #1e2033;
  --color-darkGray-700: #161826;
  --color-darkGray-800: #0f101a;
  --color-darkGray-900: #07080d;
}

@layer rte {
    .rteH5{
        @apply tw:font-bold tw:mb-1 tw:text-darkGray-500 tw:text-lg;
    }
  }